/*=========================================
  Site: ultrapolite.com
  Author: Mark Newman
  Date: July 23 2016
  ========================================= */
$color-primary-light: #ECEFF1; 
$color-primary: #90A4AE;       /* blue-grey */
$color-primary-dark: #546E7A;

$color-info: lavender;

$color-light: #fff;
$color-grey-light: rgba(0,0,0,.12);
$color-grey: rgba(0,0,0,.38);
$color-grey-dark: rgba(0,0,0,.54);
$color-dark: rgba(0,0,0,.87);

$size-root: 16px;
$size-xs:        .5rem; /*  8px */
$size-sm:       .75rem; /* 12px */
$size-default:    1rem; /* 16px */
$size-md:       1.5rem; /* 24px */
$size-lg:         2rem; /* 32px */
$size-xl:         4rem; /* 48px */

$line-height-default: 1;

$font-family: 'Roboto', sans-serif;
$font-family-mono: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
   

/*=========================================
                  normalize
  ========================================= */
html {
  box-sizing: border-box;
  font-size: $size-root;
  -webkit-tap-highlight-color: transparent;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,body,h1, h2, h3, h4, h5, h6,hr,p,ul,li,input,select,textarea,button, a {
  margin: 0;
  padding: 0;
  line-height: 1;
}
a:active,a:hover {outline: 0;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: $font-weight-bold;
  color: inherit;
}
p {
  font-family: inherit;
  font-weight: $font-weight-normal;
  font-size: $size-default;
  line-height: 1.5;
  color: inherit;
}
code,kbd,pre,samp {
  font-family: $font-family-mono, monospace;
  font-size: $size-default;
  overflow: auto;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-grey-light;
}
img {
  vertical-align: middle;
  border: 0;
}
nav ul {list-style-type: none;}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,th {padding: 0;}




/*=========================================
                  custom
  ========================================= */
::selection {
  //background: blue;
  //color: grey;
  //text-shadow: 10px 10px 0 rgba(0, 0, 0, 0.6);
}

body {
  background: $color-primary-light; /* very light blue-grey */
  font: $font-weight-normal $size-default / $line-height-default $font-family;
  color: $color-primary;
}

h1, .h1 {font-size: $size-xl;line-height: $size-xl * .8;}
h2, .h2 {font-size: $size-lg;}
h3, .h3 {font-size: $size-md;}
h4, .h4 {font-size: $size-default;}
h5, .h5 {font-size: $size-sm;}
h6, .h6 {font-size: $size-xs;}

h2, h3, h4, h5, h6 {
  margin-bottom: .75em;
}
 
header,
footer {
  background: $color-primary-dark;
  color: $color-light;
}
  
.container {
  width: 90%;
  margin: 0 5%;
}

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  background: $color-info;
  color: transparent;
}

nav a:hover,
nav a:visited {
  color: inherit;
  text-decoration: underline;
}




/*=========================================
              media queries
  ========================================= */
.test-media-query {
/*

<div class="test-media-query"></div>

*/
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  z-index: 9999;
  
  width: 100%;
  background: black;
  color: white;
} 
.test-media-query:before {
  content: "width: 100%;";
} 

@media (max-width: 1024px) {
  /* desktops */
  .test-media-query {
    min-width: 1024px;
    background: orange;
  } 
  .test-media-query:before {
    content: "max-width: 1024px;";
  }
}

@media (max-width: 768px) {
  /* ipads, etc. */
  .test-media-query {
    min-width: 768px;
    background: blue;
  } 
  .test-media-query:before {
    content: "min-width: 768px;";
  }
  
  .anything-with-a-box-shadow {
    box-shadow: 0 0 0 transparent;
  }
}

@media (max-width: 480px) {
/* phones */
  .test-media-query {
    min-width: 480px;
    background: red;
  } 
  .test-media-query:before {
    content: "min-width: 480px;";
  }
}

@media (max-width: 320px) {
/* small phones */
  .test-media-query {
    min-width: 320px;
    background: purple;
  } 
  .test-media-query:before {
    content: "min-width: 320px;";
  }
}




/*=========================================
                  helpers
  ========================================= */
.hidden {
  display: none !important;
  visibility: hidden;  /*The element will be hidden, but still affect the layout:*/
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.margin-xs {margin: $size-xs;}
.margin-sm {margin: $size-sm;}
.margin-md {margin: $size-md;}
.margin-lg {margin: $size-lg;}
.margin-xl {margin: $size-xl;}
.margin-bottom-xs {margin-bottom: $size-xs;}
.margin-bottom-sm {margin-bottom: $size-sm;}
.margin-bottom-md {margin-bottom: $size-md;}
.margin-bottom-lg {margin-bottom: $size-lg;}
.margin-bottom-xl {margin-bottom: $size-xl;}
.margin-top-xs {margin-top: $size-xs;}
.margin-top-sm {margin-top: $size-sm;}
.margin-top-md {margin-top: $size-md;}
.margin-top-lg {margin-top: $size-lg;}
.margin-top-xl {margin-top: $size-xl;}

.padding-bottom-xs {padding-bottom: $size-xs;}
.padding-bottom-sm {padding-bottom: $size-sm;}
.padding-bottom-md {padding-bottom: $size-md;}
.padding-bottom-lg {padding-bottom: $size-lg;}
.padding-bottom-xl {padding-bottom: $size-xl;}
.padding-top-xs {padding-top: $size-xs;}
.padding-top-sm {padding-top: $size-sm;}
.padding-top-md {padding-top: $size-md;}
.padding-top-lg {padding-top: $size-lg;}
.padding-top-xl {padding-top: $size-xl;}
.padding-xs {padding: $size-xs;}
.padding-sm {padding: $size-sm;}
.padding-md {padding: $size-md;}
.padding-lg {padding: $size-lg;}
.padding-xl {padding: $size-xl;}