/*=========================================
  Site: markedwardnewman.com
  Author: Mark Newman
  ========================================= */

/* maroon */
$color-primary-hex: #643232;
$color-primary-hex-darker: #492424;
$primary: 100,50,50;
$color-primary-lightest: #{"rgba(" + $primary + ", .25)"};
$color-primary-lighter:  #{"rgba(" + $primary + ", .37)"};
$color-primary-light:    #{"rgba(" + $primary + ", .5)"};
$color-primary:          #{"rgba(" + $primary + ", .67)"};
$color-primary-dark:     #{"rgba(" + $primary + ", .75)"};
$color-primary-darker:   #{"rgba(" + $primary + ", .93)"};
$color-primary-darkest:  #{"rgba(" + $primary + ", 1)"};

/* sand  */
$color-secondary-hex: #cddfcf;
$color-secondary-hex-darker: #829985;
$secondary: 205,223,207;
$color-secondary-lightest: #{"rgba(" + $secondary + ", .25)"};
$color-secondary-lighter:  #{"rgba(" + $secondary + ", .37)"};
$color-secondary-light:    #{"rgba(" + $secondary + ", .5)"};
$color-secondary:          #{"rgba(" + $secondary + ", .67)"};
$color-secondary-dark:     #{"rgba(" + $secondary + ", .75)"};
$color-secondary-darker:   #{"rgba(" + $secondary + ", .87)"};
$color-secondary-darkest:  #{"rgba(" + $secondary + ", 1)"};

/* olive  181, 150, 124 */
$color-tertiary-light: rgba(99,145,99, 1);
$color-tertiary:       rgba(99,145,99,.7);
$color-tertiary-dark:  rgba(99,145,99,.5);

/* black, white, and grays */
$color-light:      rgba(255,255,255,1);
$color-grey-light: rgba(0,0,0,.12);
$color-grey:       rgba(0,0,0,.38);
$color-grey-dark:  rgba(0,0,0,.54);
$color-dark:       rgba(0,0,0,.86);
$color-dark-hex: #100808;

$size-root: 	  2vh;
$size-xs:        .5rem;
$size-sm:       .75rem;
$size:            1rem;
$size-md:       1.5rem;
$size-lg:         2rem;
$size-xl:         3rem;

$line-height: 1;

$font-family-primary:   'Roboto', sans-serif;
$font-family-secondary: 'Roboto Slab', sans-serif;
$font-family-mono:      'Source Code Pro', sans-serif;

$font-weight-light:  300;
$font-weight-bold:   700;




/*=========================================
                  normalize
  ========================================= */
html {
  box-sizing: border-box;
  font-size: $size-root;
  -webkit-tap-highlight-color: transparent;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
h1, h2, h3, h4, h5, h6,
hr,
ul,
li,
input,
select,
textarea,
button,
a {
  margin: 0;
  padding: 0;
  line-height: $line-height;
}

p {
  margin: 0;
  padding: 0;
  line-height: $line-height * 1.5;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsla(62,89%,89%,.16);
  margin: $size-md 0;
}

img {
  border: 0;
  vertical-align: middle;
}

nav ul {
  list-style-type: none;
}

li:last-child {
  padding-bottom: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}




/*=========================================
                  custom
  ========================================= */
::selection {
  background: rgba(255,255,255,.5);
  color: rgba(0,0,0,.5);
}

:focus {
  outline-color: $color-secondary-darkest !important;
}

body {
  font-family: $font-family-primary;
  font-weight: $font-weight-light;
  font-size: $size;
  background-image: url("../img/jungle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  background-attachment: fixed;
  background-color: #061403;
  color: $color-secondary-lightest;
}

a {
  color: $color-secondary;
}
a:focus,
a:hover,
a:visited {
  color: $color-secondary-darker;
}
a:active {
  color: $color-secondary-darkest;
}

q {
  font-size: $size-md;
  font-style: italic !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-secondary;
  font-weight: $font-weight-bold;
  color: $color-secondary-darker;
}

h1 {
  padding: $size;
  border-bottom: 0;
  font-size: $size-lg;
  text-align: center;
  border-top: 1px solid $color-secondary-lighter;
  border-right: 3px solid $color-dark;
  border-left: 1px solid $color-secondary-lightest;
  background-color: $color-primary-darker;
  background: linear-gradient(to top right, $color-primary-hex, $color-dark-hex);
}

h2 {
  padding: $size;
  border: thin solid $color-secondary;
  font-size: $size-lg;
  text-align: center;
  background-color: $color-dark-hex;
}

section,
footer {
  margin: 0 15%;
}

header {
  margin: 0 17%;
  display: flex;
  flex-flow: row wrap-reverse;
}

header > * {
  flex: 2;
  order: 2;
}

header > nav {
  flex: 3;
  order: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header > nav > a {
  flex: 1;
  padding: $size-sm;
  font-family: $font-family-secondary;
  font-size: $size;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid $color-secondary-lighter;
  border-right: 3px solid $color-dark;
  border-left: 1px solid $color-secondary-lightest;
  background-color: $color-primary-darker;
  background: linear-gradient(to bottom right, $color-primary-hex-darker, $color-primary-hex);
  color: $color-secondary-darkest;
}

header > nav > a:first-child {
  border-radius: 8px 0 0 0;
}

header nav a:focus,
header nav a:hover {
  background: linear-gradient(to bottom right, $color-primary-hex-darker, $color-primary-hex-darker);
}

header nav a:active {
  background-color: $color-primary-darkest;
}

section > div {
  margin: 0 2.5%;
  padding: $size 2.5% $size 2.5%;
  border-right: thin solid $color-secondary-lighter;
  border-left: thin solid $color-secondary-lighter;
  background-color: $color-primary-light;
}

h3:before {
  content: '\25B6';
  float: left;
  margin-right: 5px;
  transition: 0.4s ease-out;
}

h3.active:before {
  transform: rotate(90deg);
}

h3 {
  position: relative;
  padding: $size;
  border-top: 1px solid $color-secondary-lighter;
  border-right: 3px solid $color-dark;
  border-bottom: 4px solid $color-dark;
  border-left: 1px solid $color-secondary-lightest;
  border-radius: 8px 8px 8px 8px;
  background-color: $color-primary-darker;
  background: linear-gradient(to bottom right, $color-primary-hex-darker, $color-primary-hex);
}

h3.active {
  border-top: 1px solid $color-secondary;
  border-bottom: 4px solid $color-grey-dark;
  box-shadow: 4px 4px 2px $color-dark;
  background-color: $color-primary-darkest;
}

h3:hover {
  background: $color-primary-hex-darker;
  //background: linear-gradient(to bottom right, $color-primary-hex-darker, $color-primary-hex-darker);
  cursor: pointer;
}

h3:last-child {
  margin: 0 0 -4px 0;
}

h3 + div {
  margin: 0 1.25%;
  padding: 0 2.5% 0 2.5%;
  border-right: thin solid $color-secondary-lighter;
  border-left: thin solid $color-secondary-lighter;
  background-color: $color-dark;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

h3.active + div {
  margin: 0 1.25%;
}

h3 span {
  transition: 0.4s;
  position: absolute;
  top: 50%;
  left: $size-xl;
  transform: translate(0, -50%);
  text-align: left;
}

h3.active span {
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  padding: $size 0 $size 0;
  font-size: $size-md;
  color: $color-secondary-lighter;
}

#projects > div {
  padding: $size-xs 1.25% $size-xs 1.25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#projects div {
  overflow: hidden;
}

#projects aside:nth-child(odd) {
  transform: translateX(-110%);
}

#projects aside:nth-child(even) {
  transform: translateX(110%);
}

#projects aside.slide-in {
  transform: translateX(0);
  transition: 0.8s cubic-bezier(.38, -0.55, 0.27, 1.25);
}

aside {
  flex: 1 47.5%;
  margin: $size-xs 1.25% $size-xs 1.25%;
  padding: $size 2.5% 0 2.5%;
  text-align: center;
  position: relative;

  display: flex;
  flex-flow: column wrap;

  border-top: 1px solid $color-secondary-lighter;
  border-right: 3px solid $color-dark;
  border-bottom: 4px solid $color-dark;
  border-left: 1px solid $color-secondary-lightest;
  border-radius: 8px 8px 8px 8px;

  background-color: $color-primary-darker;
  background: radial-gradient($color-primary-hex 25%, $color-primary-hex-darker 75%);

  transition: 0.2s cubic-bezier(.38, -0.55, 0.27, 1.25);
}

aside:hover {
  border-top: 1px solid $color-secondary;
  //border-right: 3px solid $color-dark;
  //border-bottom: 4px solid $color-dark;
  border-left: 1px solid $color-secondary-lighter;
  //border-radius: 8px 8px 8px 8px;
  box-shadow: 4px 4px 2px $color-dark;

  //background-color: $color-primary-hex-darker;
  //background: radial-gradient($color-primary-hex 25%, $color-primary-hex-darker 75%);

  //box-shadow: 4px 4px 2px $color-dark;
  background-color: $color-primary-darkest;
  background: radial-gradient($color-primary-hex 25%, $color-primary-hex 75%);
}

aside h3 {
  display: none;
}

#projects a {
  //display: inline-block;
  vertical-align: top;
}

aside:nth-child(odd) a:nth-child(2) {
  order: 2;
}

aside:nth-child(odd) a:nth-child(3) {
  order: 1;
  align-self: flex-start;
}

aside:nth-child(odd) a:nth-child(3) img {
  transform: scaleX(-1);
  filter: FlipH;
}

aside  p {
  order: 3;
}

aside:nth-child(even) a:nth-child(2) {
  order: 2;
}

aside:nth-child(even) a:nth-child(3) {
  order: 1;
  align-self: flex-end;
}




aside a:nth-child(3) {
  //background-color: pink !important;
  margin: 0 0 0 $size;

}

aside img {
  opacity: .5;
  transition: .2s;
}

aside a:hover img {
  opacity: 1;
}

aside p {
  display: block;
  font-size: $size-sm;
  color: $color-secondary-light;
}

footer {
  padding: 0 0 $size 0;
  border: thin solid $color-secondary;
  background-color: $color-dark-hex;
  color: $color-secondary-darker;
  text-align: center;
}

footer > *:first-child {
  border: initial;
}

.icon-linkedin {
  width: 27px;
  height: 27px;
}

