/*=========================================
  Site: markedwardnewman.com
  Author: Mark Newman
  ========================================= */

/* maroon */
$color-primary-lightest: rgba(100,50,50, 1);
$color-primary-lighter:  rgba(100,50,50,.87);
$color-primary-light:    rgba(100,50,50,.75);
$color-primary:          rgba(100,50,50,.67);
$color-primary-dark:     rgba(100,50,50,.5);
$color-primary-darker:   rgba(100,50,50,.37);
$color-primary-darkest:  rgba(100,50,50,.25);

/* sand  */
$color-secondary-lightest: hsla(62,89%,89%, 1);
$color-secondary-lighter:  hsla(62,89%,89%,.87);
$color-secondary-light:    hsla(62,89%,89%,.75);
$color-secondary:          hsla(62,89%,89%,.67);
$color-secondary-dark:     hsla(62,89%,89%,.5);
$color-secondary-darker:   hsla(62,89%,89%,.37);
$color-secondary-darkest:  hsla(62,89%,89%,.25);

/* olive  181, 150, 124 */
$color-tertiary-light: rgba(99,145,99, 1);
$color-tertiary:       rgba(99,145,99,.7);
$color-tertiary-dark:  rgba(99,145,99,.5);

/* black, white, and grays */
$color-light:      rgba(255,255,255,1);
$color-grey-light: rgba(0,0,0,.12);
$color-grey:       rgba(0,0,0,.38);
$color-grey-dark:  rgba(0,0,0,.54);
$color-dark:       rgba(0,0,0,.86);

$size-root: 	  16px;
$size-xs:        .5rem; /* 8px */
$size-sm:       .75rem; /* 12px */
$size:            1rem; /* 16px */
$size-md:       1.5rem; /* 24px */
$size-lg:         2rem; /* 32px */
$size-xl:         3rem; /* 48px */

$line-height: 1;

$font-family-primary:   'Roboto', sans-serif;
$font-family-secondary: 'Roboto Slab', sans-serif;
$font-family-mono:      'Source Code Pro', sans-serif;

$font-weight-light:  300;
$font-weight-bold:   700;




/*=========================================
                  normalize
  ========================================= */
html {
  box-sizing: border-box;
  font-size: $size-root;
  -webkit-tap-highlight-color: transparent;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
h1, h2, h3, h4, h5, h6,
hr,
ul,
li,
input,
select,
textarea,
button,
a {
  margin: 0;
  padding: 0;
  line-height: $line-height;
}

p {
  margin: 0;
  padding: 0;
  line-height: $line-height * 1.5;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsla(62,89%,89%,.16);
  margin: $size-md 0;
}

img {
  border: 0;
  vertical-align: middle;
}

nav ul {
  list-style-type: none;
}

li:last-child {
  padding-bottom: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}




/*=========================================
                  custom
  ========================================= */
::selection {
  background: rgba(255,255,255,.5);
  color: rgba(0,0,0,.5);
}

:focus {
  outline-color: $color-secondary-darkest !important;
}

body {
  font-family: $font-family-primary;
  font-weight: $font-weight-light;
  font-size: $size;
  background: #061403;
  color: $color-secondary-darker;
}

a {
  color: $color-secondary-dark;
}
a:focus,
a:hover,
a:visited {
  color: $color-secondary;
}
a:active {
  color: $color-secondary-lighter;
}

b,
strong {
  color: $color-secondary-dark;
}

q {
  font-size: $size-md;
  font-style: italic !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-secondary;
  font-weight: $font-weight-bold;
  color: $color-secondary-light;
}

h1,
.h1 {
  margin: 30px 0;
  font-size: $size-lg;
}

h3,
p {
  margin: 0 0 $size-sm 0;
  font-size: $size-md;
}

code,kbd,pre,samp {
  font-family: $font-family-mono, monospace;
  font-size: $size;
  overflow: auto;
}

#parallax {
  min-height: 1080px;
  background: transparent;
}

.nav-main {
  position: relative;
}

.nav-main a {
  padding-top: 0;
  padding-bottom: 0;
  border-right: 0 !important;
  font-family: $font-family-secondary;
  font-weight: $font-weight-light;
  background: $color-primary;
  color: $color-secondary-light;
  text-decoration: none;
}

.nav-main a:focus,
.nav-main a:hover {
  background: $color-secondary-lighter;
  color: $color-primary-lighter;
}

.nav-main a:active {
  background: $color-secondary-darker;
  color: $color-primary;
}

.nav-main .btn {
  border: thin solid $color-secondary-darker;
  border-radius: 0;
  font-size: $size-md;
}

.nav-main .btn-group {
  background: $color-dark;
}

.caption,
.logo,
footer {
  border: thin solid $color-secondary-darker;
  background: $color-dark;
  min-height: $size-lg * 2;
}

.caption,
.logo {
  text-align: center;
}

.content {
  padding: $size-lg;
  border-right: thin solid $color-secondary-darkest;
  border-left: thin solid $color-secondary-darkest;
  background: $color-primary-lighter;
}

.content-panel {
  padding: $size;
  border: thin solid transparent;
  border-radius: $size-sm;
  background: $color-dark;
}

.project.content-panel {
  padding: $size $size 0 $size;
}

.content-panel-item {
  position: relative;
  margin-bottom: $size;
  padding: $size;
  border-radius: $size-xs;
  text-align: center;
  min-height: 200px;
  border-right: 2px solid $color-primary-lightest;
  border-bottom: 2px solid $color-primary-lightest;
  color: $color-secondary-dark;
}
.content-panel-item:hover {
  background-color: $color-primary-lightest;
}

.content-panel-item .bottom {
  position: absolute;
  padding: 16px;
  bottom: 0;
  left: 0;
  right: 0;
}

.content-panel-item .bottom a:hover .icon-github {
  opacity: 1;
}

.content-panel-item-copy {
  text-align: center;
  padding-top: 20px;
  line-height: 1;
}

.icon-github {
  opacity: .5;
  width: 64px;
  height: 64px;
}

.content-panel-item a.top {
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  display: block;
  z-index: 999;
}

.bg-emds {
  background: $color-primary url(../img/logo-emds.png) center 50px/162px 43px no-repeat;
  background-blend-mode: multiply;
}
.bg-emds:hover {
  background-color: $color-primary-lightest;
  background-blend-mode: screen;
}
.bg-emds a.top {
  top: 50px;
  width: 162px;
  height: 43px;
}

.bg-thanksmama {
  background: $color-primary url(../img/logo-tm.png) center 40px/200px 60px no-repeat;
  background-blend-mode: multiply;
}
.bg-thanksmama:hover {
  background-color: $color-primary-lightest;
  background-blend-mode: screen;
}
.bg-thanksmama a.top {
  top: 40px;
  width: 200px;
  height: 60px;
}

.bg-golden {
  background: $color-primary url(../img/logo-golden.png) center 20px/116px 99px no-repeat;
  background-blend-mode: multiply;
}
.bg-golden:hover {
  background-color: $color-primary-lightest;
  background-blend-mode: screen;
}
.bg-golden a.top {
  top: 20px;
  width: 116px;
  height: 99px;
}

.bg-italianway {
  background: $color-primary url(../img/logo-italianway.svg) center 60px/166px 35px no-repeat;
  background-blend-mode: lighten;
}
.bg-italianway:hover {
  background-color: $color-primary-lightest;
  background-blend-mode: multiply;
}
.bg-italianway a.top {
  top: 60px;
  width: 166px;
  height: 35px;
}

.bg-backbone {
  background: $color-primary url(../img/logo-backbone.png) center 60px/200px 36px no-repeat;
  background-blend-mode: multiply;
}
.bg-backbone:hover {
  background-color: $color-primary-lightest;
  background-blend-mode: normal;
}
.bg-backbone a.top {
  top: 60px;
  width: 200px;
  height: 36px;
}

.bg-angular {
  background: $color-primary url(../img/logo-angular.svg) center 51px/200px 54px no-repeat;
  background-blend-mode: multiply;
}
.bg-angular:hover {
  background-color: $color-primary-lightest;
  background-blend-mode: normal;
}
.bg-angular a.top {
  top: 51px;
  width: 200px;
  height: 54px;
}

.bg-javascript {
  padding-top: 60px;
  background-color: $color-primary;
}
.bg-javascript:hover {
  background-color: $color-primary-lightest;
}
.bg-javascript a.top {
  top: 60px;
  width: 260px;
  height: 34px;
}

.bg-lazy {
  background: $color-primary url(../img/logo-lazy.png) center 26px/122px 90px no-repeat;
  background-blend-mode: multiply;
}
.bg-lazy:hover {
  background-color: $color-primary-lightest;
  background-blend-mode: normal;
}
.bg-lazy a.top {
  top: 26px;
  width: 122px;
  height: 90px;
}

.slide-left {
  transform: translate3d(-100px,0,0);
}
.slide-right {
  transform: translate3d(100px,0,0);
}
.slide-left,
.slide-right {
  opacity: 0;
  transition: all 0.75s cubic-bezier(0, 0, 0, 1.66);
}

.in-view {
  opacity: 1;
  transform: translateZ(0);
}

footer {
  padding: $size-lg;
}

footer .content-panel-item {
  min-height: 1px;
}




/*=========================================
                  vendor
  ========================================= */
.ui-accordion .ui-accordion-header {
  font-size: $size-md;
}

.ui-accordion ul {
  padding: $size-xs 0;
}

.ui-accordion li {
  font-size: $size-md;
  margin-bottom: $size-xs;
}

.ui-accordion li:last-child {
  margin-bottom: 0;
}

.ui-accordion .ui-accordion-icons {
  padding-left: $size;
}

.ui-icon {
  display: none;
}

.ui-accordion-content {
  padding: $size;
  margin: 0 11px -2px;
  border: thin solid $color-primary-light;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-family: $font-family-primary;
  background: transparent;
  color: $color-secondary-darker;
}

.ui-state-default {
  border-top: 0;
  border-right: 2px solid $color-primary-lightest;
  border-bottom: 2px solid $color-primary-lightest;
  border-left: 0;

  background-color: $color-primary;
  background-image: none !important;
  color: $color-secondary-light;
}

.ui-state-default:hover {
  background-color: $color-primary-lightest;
  background-image: none !important;
}

.ui-accordion-content a {
  text-decoration: underline;
  color: $color-secondary;
}
.ui-accordion-content a:focus,
.ui-accordion-content a:hover,
.ui-accordion-content a:visited {
  color: $color-secondary-light;
}
.ui-accordion-content a:active {
  color: $color-secondary-lighter;
}




/*=========================================
                  helpers
  ========================================= */
a.text-decoration-none {
  text-decoration: none;
}

.border-right-none {
  border-right: 0 !important;
}

.hide {
  display: none;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.flip {
  transform: scaleX(-1);
  filter: FlipH;
}

.margin-top {
  margin-top: $size;
}
.margin-right {
  margin-right: $size;
}
.margin-bottom {
  margin-bottom: $size-md;
}
.margin-horizontal-none {
  margin-right: 0;
  margin-left: 0;
}

.padding-bottom {
  padding-bottom: $size;
}

.padding-horizontal-none {
  padding-right: 0;
  padding-left: 0;
}

.text-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

@media (max-width:768px) {
  .hide-sm {
    display: none;
  }
}

@media (max-width:480px) {
  h1, .h1 {
    font-size: $size-md !important;
  }

  .nav-main .btn,
  h3,
  li,
  p,
  q {
    font-size: $size !important;
  }

  .content {
    padding: 1rem;
  }

  .content-panel-item-copy {
    padding-top: 10px;
  }

  .icon-github {
    width: 48px;
    height: 48px;
  }

  .ui-accordion .ui-accordion-content {
    padding: $size;
    border-top: 0;
    overflow: auto;
  }
}

@media (max-width:320px) {
  .content-panel-item .bottom a {
    display: none;
  }
}
