/*=========================================
  Site: markedwardnewman.com
  Author: Mark Newman
  ========================================= */
/* maroon */
/* sand  */
/* olive  181, 150, 124 */
/* black, white, and grays */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2vh; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-image: url("../img/jungle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  background-attachment: fixed;
  background-color: #061403;
  color: rgba(205, 223, 207, .87); }

h1 {
  margin: 0;
  padding: 1rem;
  border-top: 1px solid rgba(205, 223, 207, .37);
  border-right: 3px solid rgba(0, 0, 0, 0.86);
  border-left: 1px solid rgba(205, 223, 207, .37);
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  background-color: #100808;
  background: linear-gradient(to top right, #643232, #100808); }

h2 {
  margin: 0;
  padding: 1rem;
  border: thin solid rgba(205, 223, 207, .67);
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  background-color: #100808; }

h3 {
  position: relative;
  margin: 0;
  padding: 1rem;
  border-top: 1px solid rgba(205, 223, 207, .37);
  border-right: 3px solid rgba(0, 0, 0, 0.86);
  border-bottom: 4px solid rgba(0, 0, 0, 0.86);
  border-left: 1px solid rgba(205, 223, 207, .25);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  line-height: 1;
  background-color: rgba(100, 50, 50, .93);
  background: linear-gradient(to bottom right, #492424, #643232); }

h3:last-child {
  margin: 0 0 -4px 0; }

h3:before {
  content: '\25B6';
  float: left;
  margin-right: 5px;
  transition: 0.4s ease-out; }

h3.active {
  border-top: 1px solid rgba(205, 223, 207, .67);
  border-bottom: 4px solid rgba(0, 0, 0, 0.54);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.86);
  background-color: rgba(100, 50, 50, 1); }

h3.active:before {
  transform: rotate(90deg); }

h3:hover {
  background: #492424;
  cursor: pointer; }

a {
  color: rgba(205, 223, 207, .67); }

a:focus,
a:hover,
a:visited {
  color: rgba(205, 223, 207, .87); }

a:active {
  color: rgba(205, 223, 207, 1); }

p {
  margin: 0;
  padding: 1rem 0 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: rgba(205, 223, 207, .37); }

img {
  border: 0;
  vertical-align: middle; }

header {
  margin: 0 17%;
  display: flex;
  flex-flow: row wrap-reverse; }

header h1 {
  flex: 2;
  order: 2; }

header nav {
  flex: 3;
  order: 1;
  display: flex;
  align-items: flex-end; }

header > nav > a {
  flex: 1;
  padding: 0.75rem;
  border-top: 1px solid rgba(205, 223, 207, .37);
  border-right: 3px solid rgba(0, 0, 0, 0.86);
  border-left: 1px solid rgba(205, 223, 207, .25);
  font-family: "Roboto Slab", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  background-color: rgba(100, 50, 50, .93);
  background: linear-gradient(to bottom right, #492424, #643232);
  color: rgba(205, 223, 207, 1); }

header nav a:focus,
header nav a:hover {
  background: linear-gradient(to bottom right, #492424, #492424); }

header nav a:active {
  background-color: rgba(100, 50, 50, 1); }

section,
footer {
  margin: 0 15%;
  box-sizing: inherit; }

section > div {
  margin: 0 2.5%;
  padding: 1rem 2.5% 1rem 2.5%;
  border-right: thin solid rgba(205, 223, 207, .37);
  border-left: thin solid rgba(205, 223, 207, .37);
  background-color: rgba(100, 50, 50, .5); }

h3 + div {
  max-height: 0;
  margin: 0 1.25%;
  padding: 0 2.5% 0 2.5%;
  border-right: thin solid rgba(205, 223, 207, .37);
  border-left: thin solid rgba(205, 223, 207, .37);
  background-color: rgba(0, 0, 0, 0.86);
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

h3 span {
  position: absolute;
  transition: 0.4s;
  top: 50%;
  left: 3rem;
  transform: translate(0, -50%);
  text-align: left; }

h3.active span {
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

h3.active:last-of-type + div {
  border-bottom: thin solid rgba(205, 223, 207, .37);
  border-radius: 0 0 0.5rem 0.5rem; }

section:nth-child(3) > div {
  padding: 0.5rem 1.25% 0.5rem 1.25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

section:nth-child(3) div {
  overflow: hidden; }

div aside.slide-in {
  transform: translateX(0);
  transition: 0.8s cubic-bezier(0.38, -0.55, 0.27, 1.25); }

aside {
  flex: 1 47.5%;
  min-height: 205px;
  margin: 0.5rem 1.25% 0.5rem 1.25%;
  padding: 1rem 2.5% 1rem 2.5%;
  border-top: 1px solid rgba(205, 223, 207, .37);
  border-right: 3px solid rgba(0, 0, 0, 0.86);
  border-bottom: 4px solid rgba(0, 0, 0, 0.86);
  border-left: 1px solid rgba(205, 223, 207, .25);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  background-color: rgba(100, 50, 50, .93);
  background: radial-gradient(#643232 25%, #492424 75%);
  transition: 0.2s cubic-bezier(0.38, -0.55, 0.27, 1.25);
  display: flex;
  flex-flow: column wrap; }

aside:hover {
  border-top: 1px solid rgba(205, 223, 207, .67);
  border-left: 1px solid rgba(205, 223, 207, .37);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.86);
  background-color: rgba(100, 50, 50, 1);
  background: radial-gradient(#643232 25%, #643232 75%); }

aside h3 {
  display: none; }

aside:nth-child(odd) {
  transform: translateX(-110%); }

aside:nth-child(even) {
  transform: translateX(110%); }

aside:nth-child(odd) a:first-of-type {
  order: 2; }

aside:nth-child(odd) a:last-of-type {
  order: 1;
  align-self: flex-start; }

aside:nth-child(odd) a:last-of-type img {
  transform: scaleX(-1); }

aside:nth-child(even) a:first-of-type {
  order: 2; }

aside:nth-child(even) a:last-of-type {
  order: 1;
  align-self: flex-end; }

aside img {
  opacity: .5;
  transition: .2s; }

aside a:hover img {
  opacity: 1; }

aside a:first-of-type img {
  width: auto;
  height: 60px; }

aside p {
  order: 3;
  font-size: 1rem; }

section:last-of-type > div > div {
  position: relative;
  text-decoration: none; }

section:last-of-type a {
  position: absolute;
  width: 25%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none; }

section:last-of-type > div > div a img {
  width: 80%;
  height: 80%;
  opacity: .33;
  transition: 0.4s cubic-bezier(0.38, -0.55, 0.27, 1.25); }

section:last-of-type > div > div a:hover img {
  transform: translate(-10%, 0);
  width: 100%;
  height: 100%;
  opacity: .66; }

section:last-of-type ul {
  margin: 0;
  padding: 1rem 0 1rem 0;
  list-style-type: none; }

li {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: rgba(205, 223, 207, .37); }

li:last-child {
  padding-bottom: 0; }

footer {
  position: relative;
  padding: 0 0 1rem 0;
  border: thin solid rgba(205, 223, 207, .67);
  background-color: #100808;
  color: rgba(205, 223, 207, .87);
  text-align: center; }

footer h2 {
  border: initial; }

footer a:first-of-type {
  display: block;
  margin-bottom: 1rem; }

footer img {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 1rem;
  right: 1rem; }

/*# sourceMappingURL=main.css.map */
