/*=========================================
  Site: markedwardnewman.com
  Author: Mark Newman
  ========================================= */
/* maroon */
/* sand 215, 206, 204 */
/* olive  99,145,99 */
/* black, white, and grays */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2vh; }

*, *:before, *:after {
  box-sizing: inherit; }

::selection {
  background-color: rgba(99, 145, 99, 0.3);
  color: rgba(205, 223, 207, 1); }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-image: url("../img/6b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #061403;
  color: rgba(205, 223, 207, .95); }

h1 {
  margin: 0;
  padding: 1rem;
  border-top: 1px solid rgba(205, 223, 207, .37);
  border-right: 3px solid rgba(0, 0, 0, 0.95);
  border-left: 1px solid rgba(205, 223, 207, .37);
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  background-color: #100808;
  background: linear-gradient(to top right, #643232, #100808); }

h2 {
  margin: 0;
  padding: 1rem;
  border: thin solid rgba(205, 223, 207, .25);
  border-radius: 2rem;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95); }

h3 {
  position: relative;
  margin: 0;
  padding: 1rem;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  line-height: 1;
  border-top: 1px solid rgba(205, 223, 207, .37);
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid rgba(205, 223, 207, .25);
  border-radius: 2rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.95);
  background-color: rgba(100, 50, 50, 1); }

h3:hover, h3:focus {
  outline-width: 0;
  background-color: rgba(100, 50, 50, .75);
  cursor: pointer;
  transition: 0.15s; }

h3:focus {
  border-top: 1px dashed rgba(205, 223, 207, .37);
  border-right: 1px dashed rgba(100, 50, 50, 1);
  border-bottom: 1px dashed rgba(100, 50, 50, 1);
  border-left: 1px dashed rgba(205, 223, 207, .25); }

h3.active {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.95);
  border: 1px solid #492424;
  background-color: rgba(100, 50, 50, .67);
  cursor: pointer;
  transition: 0.25s; }

h3:first-of-type {
  margin-top: 0; }

h3:before {
  content: '\25B6';
  float: left;
  margin-right: 5px;
  transition: transform 0.15s; }

h3.active:before {
  transform: rotate(90deg); }

h3 span {
  position: absolute;
  left: 3rem;
  transform: translateX(0);
  transition: 0.5s;
  will-change: transform; }

h3.active span {
  left: 50%;
  transform: translateX(-50%); }

h3 + div {
  max-height: 0;
  margin: 0 5%;
  padding: 0 2.5% 0 2.5%;
  border-right: thin solid rgba(205, 223, 207, .37);
  border-left: thin solid rgba(205, 223, 207, .37);
  border-bottom: thin solid transparent;
  background-color: rgba(0, 0, 0, 0.95);
  overflow: hidden;
  transition: 1s;
  will-change: max-height; }

h3 + div:last-of-type {
  border-bottom: thin solid rgba(205, 223, 207, .37);
  border-radius: 0 0 0.5rem 0.5rem; }

h3.active:last-of-type + div {
  margin-bottom: 0; }

a {
  color: rgba(205, 223, 207, .67); }

a:hover,
a:visited {
  color: rgba(205, 223, 207, .95); }

a:active {
  color: rgba(205, 223, 207, 1); }

a:focus {
  outline-style: dotted;
  outline-color: rgba(205, 223, 207, .75);
  outline-width: 1px; }

p {
  margin: 0;
  padding: 1rem 0 1rem 0;
  line-height: 1.5;
  font-size: 1rem;
  color: rgba(205, 223, 207, .67); }

img {
  border: 0;
  vertical-align: middle; }

header {
  margin: 1rem 13.5% 0 13.5%;
  display: flex;
  flex-flow: row wrap-reverse; }

header h1 {
  flex: 2;
  order: 2; }

header nav {
  flex: 3;
  order: 1;
  display: flex;
  align-items: flex-end; }

header > nav > a {
  flex: 1;
  padding: 0.75rem;
  border-top: 1px solid rgba(205, 223, 207, .37);
  border-right: 1px solid rgba(0, 0, 0, 0.95);
  border-left: 1px solid rgba(205, 223, 207, .25);
  font-family: "Roboto Slab", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  background-color: rgba(100, 50, 50, .95);
  background: linear-gradient(to bottom right, #492424, #643232);
  color: rgba(205, 223, 207, 1); }

header nav a:focus,
header nav a:hover {
  background: linear-gradient(to bottom right, #492424, #492424); }

header nav a:active {
  background-color: rgba(100, 50, 50, 1); }

section,
footer {
  margin: 0 7.5%;
  box-sizing: inherit; }

section > div {
  margin: 0 7.5%;
  padding: 1rem 2.5% 1rem 2.5%;
  border-right: thin solid rgba(205, 223, 207, .37);
  border-left: thin solid rgba(205, 223, 207, .37);
  background-color: rgba(100, 50, 50, .5); }

section:nth-child(3) > div {
  padding: 0.5rem 1.25% 0.5rem 1.25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

section:nth-child(3) div {
  overflow: hidden; }

div aside.figure {
  transform: translateX(0); }

aside {
  flex: 1 47.5%;
  min-height: 205px;
  margin: 0.5rem 1.25% 0.5rem 1.25%;
  padding: 1rem 2.5% 1rem 2.5%;
  border-top: 1px solid rgba(205, 223, 207, .37);
  border-left: 1px solid rgba(205, 223, 207, .25);
  border-right: 0;
  border-bottom: 0;
  border-radius: 2rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.95);
  transform: translateX(0);
  text-align: center;
  background-color: rgba(100, 50, 50, 1);
  transition: 0.75s;
  will-change: transform;
  display: flex;
  flex-flow: column wrap; }

aside:hover {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.95);
  background-color: rgba(100, 50, 50, .75);
  transition: 0.25s; }

aside h3 {
  display: none; }

aside:nth-child(odd) {
  transform: translateX(-110%); }

aside:nth-child(even) {
  transform: translateX(110%); }

aside:nth-child(odd) a:first-of-type {
  order: 2; }

aside:nth-child(odd) a:last-of-type {
  order: 1;
  align-self: flex-start; }

aside:nth-child(odd) a:last-of-type img {
  transform: scaleX(-1); }

aside:nth-child(even) a:first-of-type {
  order: 2; }

aside:nth-child(even) a:last-of-type {
  order: 1;
  align-self: flex-end; }

aside a:first-of-type img {
  width: auto;
  height: 60px; }

aside p {
  order: 3;
  font-size: 1rem; }

section:last-of-type > div > div {
  position: relative;
  text-decoration: none; }

section:last-of-type a {
  position: absolute;
  width: 25%;
  left: 50%;
  top: 50%;
  transform: translate(-38.5%, -50%);
  text-decoration: none; }

section:last-of-type a img {
  width: 80%;
  height: 80%;
  opacity: .33;
  transition: 0.25s; }

section:last-of-type a:hover img {
  transform: translate(-10.5%, 0);
  width: 100%;
  height: 100%;
  opacity: .66; }

section:last-of-type ul {
  margin: 0;
  padding: 1rem 0 1rem 0;
  list-style-type: none; }

li {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1rem;
  color: rgba(205, 223, 207, .67); }

li:last-child {
  padding-bottom: 0; }

footer {
  position: relative;
  padding: 0 0 1rem 0;
  border: thin solid rgba(205, 223, 207, .25);
  border-bottom: rgba(0, 0, 0, 0.95);
  border-radius: 2rem 2rem 0 0;
  background-color: rgba(0, 0, 0, 0.95);
  color: rgba(205, 223, 207, .95);
  text-align: center; }

footer h2 {
  border: initial;
  background-color: initial; }

footer a:first-of-type {
  display: block;
  margin-bottom: 1rem; }

footer img {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 1rem;
  right: 1rem; }

/*# sourceMappingURL=main.css.map */
