/*=========================================
  Site: markedwardnewman.com
  Author: Mark Newman
  ========================================= */
/* maroon */
/* sand  */
/* olive  181, 150, 124 */
/* black, white, and grays */
/*=========================================
                  normalize
  ========================================= */
html {
  box-sizing: border-box;
  font-size: 2vh;
  -webkit-tap-highlight-color: transparent; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body,
h1, h2, h3, h4, h5, h6,
hr,
ul,
li,
input,
select,
textarea,
button,
a {
  margin: 0;
  padding: 0;
  line-height: 1; }

p {
  margin: 0;
  padding: 0;
  line-height: 1.5; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(250, 252, 202, 0.16);
  margin: 1.5rem 0; }

img {
  border: 0;
  vertical-align: middle; }

nav ul {
  list-style-type: none; }

li:last-child {
  padding-bottom: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*=========================================
                  custom
  ========================================= */
::selection {
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5); }

:focus {
  outline-color: rgba(205, 223, 207, 1) !important; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-image: url("../img/jungle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  background-attachment: fixed;
  background-color: #061403;
  color: rgba(205, 223, 207, .25); }

a {
  color: rgba(205, 223, 207, .67); }

a:focus,
a:hover,
a:visited {
  color: rgba(205, 223, 207, .87); }

a:active {
  color: rgba(205, 223, 207, 1); }

q {
  font-size: 1.5rem;
  font-style: italic !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  color: rgba(205, 223, 207, .87); }

h1 {
  padding: 1rem;
  border-bottom: 0;
  font-size: 2rem;
  text-align: center;
  border-top: 1px solid rgba(205, 223, 207, .37);
  border-right: 3px solid rgba(0, 0, 0, 0.86);
  border-left: 1px solid rgba(205, 223, 207, .25);
  background-color: rgba(100, 50, 50, .93);
  background: linear-gradient(to top right, #643232, #100808); }

h2 {
  padding: 1rem;
  border: thin solid rgba(205, 223, 207, .67);
  font-size: 2rem;
  text-align: center;
  background-color: #100808; }

section,
footer {
  margin: 0 15%; }

header {
  margin: 0 17%;
  display: flex;
  flex-flow: row wrap-reverse; }

header > * {
  flex: 2;
  order: 2; }

header > nav {
  flex: 3;
  order: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

header > nav > a {
  flex: 1;
  padding: 0.75rem;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid rgba(205, 223, 207, .37);
  border-right: 3px solid rgba(0, 0, 0, 0.86);
  border-left: 1px solid rgba(205, 223, 207, .25);
  background-color: rgba(100, 50, 50, .93);
  background: linear-gradient(to bottom right, #492424, #643232);
  color: rgba(205, 223, 207, 1); }

header > nav > a:first-child {
  border-radius: 8px 0 0 0; }

header nav a:focus,
header nav a:hover {
  background: linear-gradient(to bottom right, #492424, #492424); }

header nav a:active {
  background-color: rgba(100, 50, 50, 1); }

section > div {
  margin: 0 2.5%;
  padding: 1rem 2.5% 1rem 2.5%;
  border-right: thin solid rgba(205, 223, 207, .37);
  border-left: thin solid rgba(205, 223, 207, .37);
  background-color: rgba(100, 50, 50, .5); }

h3:before {
  content: '\25B6';
  float: left;
  margin-right: 5px;
  transition: 0.4s ease-out; }

h3.active:before {
  transform: rotate(90deg); }

h3 {
  position: relative;
  padding: 1rem;
  border-top: 1px solid rgba(205, 223, 207, .37);
  border-right: 3px solid rgba(0, 0, 0, 0.86);
  border-bottom: 4px solid rgba(0, 0, 0, 0.86);
  border-left: 1px solid rgba(205, 223, 207, .25);
  border-radius: 8px 8px 8px 8px;
  background-color: rgba(100, 50, 50, .93);
  background: linear-gradient(to bottom right, #492424, #643232); }

h3.active {
  border-top: 1px solid rgba(205, 223, 207, .67);
  border-bottom: 4px solid rgba(0, 0, 0, 0.54);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.86);
  background-color: rgba(100, 50, 50, 1); }

h3:hover {
  background: #492424;
  cursor: pointer; }

h3:last-child {
  margin: 0 0 -4px 0; }

h3 + div {
  margin: 0 1.25%;
  padding: 0 2.5% 0 2.5%;
  border-right: thin solid rgba(205, 223, 207, .37);
  border-left: thin solid rgba(205, 223, 207, .37);
  background-color: rgba(0, 0, 0, 0.86);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

h3.active + div {
  margin: 0 1.25%; }

h3 span {
  transition: 0.4s;
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translate(0, -50%);
  text-align: left; }

h3.active span {
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

p {
  padding: 1rem 0 1rem 0;
  font-size: 1.5rem;
  color: rgba(205, 223, 207, .37); }

#projects > div {
  padding: 0.5rem 1.25% 0.5rem 1.25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

#projects div {
  overflow: hidden; }

#projects aside:nth-child(odd) {
  transform: translateX(-110%); }

#projects aside:nth-child(even) {
  transform: translateX(110%); }

#projects aside.slide-in {
  transform: translateX(0);
  transition: 0.8s cubic-bezier(0.38, -0.55, 0.27, 1.25); }

aside {
  flex: 1 47.5%;
  margin: 0.5rem 1.25% 0.5rem 1.25%;
  padding: 1rem 2.5% 0 2.5%;
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  border-top: 1px solid rgba(205, 223, 207, .37);
  border-right: 3px solid rgba(0, 0, 0, 0.86);
  border-bottom: 4px solid rgba(0, 0, 0, 0.86);
  border-left: 1px solid rgba(205, 223, 207, .25);
  border-radius: 8px 8px 8px 8px;
  background-color: rgba(100, 50, 50, .93);
  background: radial-gradient(#643232 25%, #492424 75%);
  transition: 0.2s cubic-bezier(0.38, -0.55, 0.27, 1.25); }

aside:hover {
  border-top: 1px solid rgba(205, 223, 207, .67);
  border-left: 1px solid rgba(205, 223, 207, .37);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.86);
  background-color: rgba(100, 50, 50, 1);
  background: radial-gradient(#643232 25%, #643232 75%); }

aside h3 {
  display: none; }

#projects a {
  vertical-align: top; }

aside:nth-child(odd) a:nth-child(2) {
  order: 2; }

aside:nth-child(odd) a:nth-child(3) {
  order: 1;
  align-self: flex-start; }

aside:nth-child(odd) a:nth-child(3) img {
  transform: scaleX(-1);
  filter: FlipH; }

aside p {
  order: 3; }

aside:nth-child(even) a:nth-child(2) {
  order: 2; }

aside:nth-child(even) a:nth-child(3) {
  order: 1;
  align-self: flex-end; }

aside a:nth-child(3) {
  margin: 0 0 0 1rem; }

aside img {
  opacity: .5;
  transition: .2s; }

aside a:hover img {
  opacity: 1; }

aside p {
  display: block;
  font-size: 0.75rem;
  color: rgba(205, 223, 207, .5); }

footer {
  padding: 0 0 1rem 0;
  border: thin solid rgba(205, 223, 207, .67);
  background-color: #100808;
  color: rgba(205, 223, 207, .87);
  text-align: center; }

footer > *:first-child {
  border: initial; }

.icon-linkedin {
  width: 27px;
  height: 27px; }

